.modal {
  top: 50%;
  left: 50%;
  width: 70rem;
  display: flex;
  position: fixed;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.2s;
  flex-direction: column;
  background-color: #fff;
  transform: translate(-50%, -50%);
  animation: openModall 0.2s ease-in-out forwards;
  z-index: 99999999999999999999999999999999999999;
  box-shadow: 0px 3px 20px rgba(101, 101, 101, 0.15);
}

.modalQR {
  top: 50%;
  left: 50%;
  width: 60rem;
  height: 60rem;
  position: fixed;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.3s;
  background-size: cover;
  background-color: #fff;
  background-position: center;
  transform: translate(-50%, -50%);
  animation: openModall 0.3s ease-in-out forwards;
  z-index: 99999999999999999999999999999999999999;
  box-shadow: 0px 3px 20px rgba(101, 101, 101, 0.15);
}

.modalDesign {
  width: 50rem;
}

.modalFall {
  width: 65rem;
}

@keyframes openModall {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.btnCloseModal {
  font-family: inherit;
  position: absolute;
  background: none;
  color: #969ea1;
  font-weight: 300;
  cursor: pointer;
  font-size: 3.4rem;
  border: none;
  top: 1%;
  right: 2%;
}

.btnCloseModalQR {
  font-family: inherit;
  position: absolute;
  background: none;
  color: #969ea1dd;
  font-weight: 300;
  cursor: pointer;
  font-size: 3rem;
  border: none;
  top: 1%;
  right: 3%;
}

.modalHeading {
  color: #27272a;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 2rem;
}

.modalForm {
  padding: 2.1rem;
  background-color: #f8fafb;
}

.inputImgArea {
  background-position: center;
  background-size: cover;
  border: 0.5px solid #40404034;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 5rem;
  gap: 2rem;
}

.inputImgArea2 {
  box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
  background-position: center;
  background-size: cover;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 5rem;
  gap: 2rem;
}

.requiredImgMess {
  color: #dc2626;
  font-size: 1.3rem;
  font-weight: 400;
}

.requiredImgMess2 {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #ef4444;
  font-size: 1.3rem;
  font-weight: 400;
}

.inputImgModal {
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.btnAddImgModal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(90deg, #45cbd8 3.25%, #4d7cfe 89.92%);
  font-family: "Rubik", sans-serif;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.4s;
  cursor: pointer;
}

.uploadIcon {
  width: 2.1rem;
}

::-webkit-file-upload-button {
  background: linear-gradient(90deg, #45cbd8 3.25%, #4d7cfe 89.92%);
  font-family: "Rubik", sans-serif;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.4s;
  cursor: pointer;
}

.modalInputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 1.8rem;
  row-gap: 2.6rem;
  column-gap: 1.6rem;
}

.modalContainerService {
  grid-template-columns: unset !important;
}

.wholeModalInput {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.wholeModalInputGap {
  gap: 1.2rem !important;
}

.modalBasicLable {
  font-weight: 400;
  font-size: 1.4rem;
  color: #27272a;
}

.modalBasicLable2 {
  font-weight: 400;
  font-size: 1.4rem;
  color: #27272a;
  margin-bottom: 1rem;
}

.modalBasicInput {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem 0rem;
  padding-left: 1rem;
  width: 100%;
  color: #252631;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e8ecef;
  transition: all 0.5s;
  box-shadow: 0 0.5px 0.5px rgb(0 0 0 / 5%);
}

.modalBasicInput:focus {
  outline: none;
  border: 1px solid #4d7cfe;
}

.modalInputsContaine2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.6rem;
}

.twoInputsArea {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.fallBtn {
  font-family: inherit;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.modalControlBtnsArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 1.8rem;
}

.modalControlBtttnsArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.8rem 2.8rem;
}

.controlBtn {
  background: linear-gradient(90deg, #45cbd8 3.25%, #4d7cfe 89.92%);
  padding: 1rem 2rem;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  border: none;
  cursor: pointer;
}

.controlBtn:hover {
  transform: translateY(-3px);
}

.controlBtn:disabled {
  background: unset !important;
  background-color: #f2f4f6 !important;
  color: #778ca2 !important;
  cursor: not-allowed;
}

.cencelBtn {
  background: unset !important;
  background-color: #f2f4f6 !important;
  color: #778ca2 !important;
}

.modalQRinput::placeholder {
  color: #27272a;
}

.confirmDesignArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.confirmDesignHeading {
  color: #27272a;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.deleteHeading {
  color: #27272a;
  font-size: 1.9rem;
  font-weight: 400;
  text-align: center;
}

.fallMessageHeading {
  color: #27272a;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  line-height: 3rem;
}

.lableRequiredArea {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.required {
  color: #dc2626;
  font-size: 2.2rem;
  font-weight: 400;
}

.requiredImgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.requiredImg {
  color: #dc2626;
  font-size: 2.4rem;
  font-weight: 400;
  transform: translateY(0.5rem);
}
