.modal {
  top: 50%;
  left: 50%;
  width: 70rem;
  display: flex;
  position: fixed;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.3s;
  flex-direction: column;
  background-color: #fff;
  transform: translate(-50%, -50%);
  animation: openModall 0.3s ease-out forwards;
  z-index: 99999999999999999999999999999999999999;
  box-shadow: 0px 3px 20px rgba(101, 101, 101, 0.15);
}

@keyframes openModall {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.btnCloseModal {
  font-family: inherit;
  position: absolute;
  background: none;
  color: #969ea1;
  font-weight: 300;
  cursor: pointer;
  font-size: 3.4rem;
  border: none;
  top: 1%;
  right: 2%;
}

.modalHeading {
  color: #27272a;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 2rem;
}

.modalForm {
  padding: 2rem;
  background-color: #f8fafb;
}

.inputImgArea {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #40404034;
  padding: 4rem 5rem;
}

.inputImgModal {
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
}

::-webkit-file-upload-button {
  background: linear-gradient(90deg, #45cbd8 3.25%, #4d7cfe 89.92%);
  font-family: "Rubik", sans-serif;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.4s;
  cursor: pointer;
}

.modalInputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 1.8rem;
  row-gap: 2.6rem;
  column-gap: 1.6rem;
}

.modalContainerService {
  grid-template-columns: unset !important;
}

.wholeModalInput {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.modalBasicLable {
  font-weight: 400;
  font-size: 1.4rem;
  color: #27272a;
}

.modalBasicInput {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem 0rem;
  padding-left: 1rem;
  width: 100%;
  color: #252631;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e8ecef;
  transition: all 0.5s;
  box-shadow: 0 0.5px 0.5px rgb(0 0 0 / 5%);
}

.modalBasicInput:focus {
  outline: none;
  border: 1px solid #4d7cfe;
}

.modalInputsContaine2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.6rem;
}

.twoInputsArea {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.modalControlBtnsArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 1.8rem;
}

.controlBtn {
  background: linear-gradient(90deg, #45cbd8 3.25%, #4d7cfe 89.92%);
  padding: 1rem 2rem;
  font-family: inherit;
  transition: all 0.5s;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cencelBtn {
  background: unset !important;
  background-color: #f2f4f6 !important;
  color: #778ca2 !important;
}
