.mainContiner {
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
}

.sideNavBox {
  min-height: 100vh;
  width: 16% !important;
  background-color: #252631;
  box-shadow: 1px 0px 50px rgba(208, 200, 200, 0.25);
  gap: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
}

.contentBigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-left: 24rem;
}

.logoArea {
  display: flex;
  align-items: center;
  padding: 3rem 0rem 0rem 3rem;
}

.logoImg {
  background-position: center;
  background-size: cover;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
}

.logoText {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: 4.5rem;
}

.actionArea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
}

.actionHeading {
  font-weight: 600;
  font-size: 1.6rem;
  color: #fafafa;
  padding: 0rem 0rem 0rem 3rem;
}

.actionBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.wholeAction {
  width: 100%;
  padding: 1rem 2rem 1rem 3rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  /* background-color: #363741; */
}

.iconTextArea {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.actionIcon {
  width: 2rem;
}

.actionText {
  color: #fafafa;
  font-weight: 400;
  font-size: 1.5rem;
}

.arrowSVG {
  width: 0.8rem;
}

.upHeader {
  background-color: #fff;
  box-shadow: 1px 0px 50px rgba(208, 200, 200, 0.25);
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerHeading {
  font-weight: 400;
  font-size: 2rem;
  color: #27272a;
}

.nameRoleArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
}

.logingArea {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.logOutBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.logOutIcon {
  width: 1.6rem;
}

.userName {
  font-weight: 500;
  font-size: 1.4rem;
  color: #27272a;
}

.userRole {
  font-weight: 400;
  font-size: 1.3rem;
  color: #9b9b9b;
}

.changeContentBox {
  width: 100%;
}

.servicesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem 2.6rem;
}

.serviceItemsBox {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.multiHeadingServices {
  background-color: #252631;
  padding: 2rem 2.4rem;
  gap: 18.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
}

.servicesHeading {
  font-weight: 400;
  font-size: 1.3rem;
  color: #fff;
}

.servicesHeading:nth-child(2) {
  transform: translateX(1.2rem);
}

.wholeItemService {
  background-color: #fff;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
  border-radius: 5px;
  padding: 2.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.serviceName {
  color: #27272a;
  font-weight: 400;
  font-size: 1.8rem;
}

.servicePrice {
  font-weight: 400;
  font-size: 1.5rem;
  color: #778ca2;
  position: absolute;
  transform: translateX(27rem);
}

.serviceDescription {
  font-weight: 400;
  font-size: 1.4rem;
  color: #778ca2;
  position: absolute;
  transform: translateX(47rem);
}

.service2btnArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.serviceActiveBtn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  color: #fff;
  background-color: #6dd230;
  border-radius: 20px;
}

.editServiceBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.editIcon {
  width: 2rem;
}

.managementBtnsArea {
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}

.managementHeading {
  color: #18181b;
  font-weight: 500;
  font-size: 1.8rem;
}

.twoBtnsManage {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.manageBtn {
  background-color: #4d7cfe;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: inherit;
  color: #fff;
  padding: 1rem 2.6rem;
  transition: all 0.5s;
  cursor: pointer;
}

.manageBtn:hover {
  background-color: #3867e8;
}

.managementRestaurents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
}

.itemRestaurent {
  background: #d7d7d7;
  box-shadow: 0px 4px 20px rgba(148, 148, 148, 0.15);
  border-radius: 10px;
  width: 25vw;
  height: 15vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.itemRestHeading {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.7rem;
  color: #fff;
}

.packageArea {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  width: 100%;
  padding: 1rem 0rem 1.8rem 2rem;
}

.managmentContent {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 4rem;
  width: 100%;
}

.serviceHeadingArea {
  padding: 2.5rem 0rem;
}

.activeMenu {
  border: none;
  font-family: inherit;
  color: #fff;
  background-color: #6dd230;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.activeMenu:hover {
  transform: translateY(-2px);
}

.notActiveMenu {
  border: none;
  font-family: inherit;
  color: #fff;
  background-color: #dc2626;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.notActiveMenu:hover {
  transform: translateY(-2px);
}
