.mainContiner {
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
}

.sideNavBox {
  min-height: 100vh;
  width: 16vw !important;
  background-color: #252631;
  box-shadow: 1px 0px 50px rgba(208, 200, 200, 0.25);
  gap: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
}

.contentBigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-left: 15.5vw;
}

.logoArea {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  padding: 3rem 0rem 0rem 3rem;
}

.logoImg {
  background-position: center;
  background-size: cover;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
}

.logoText {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: 4.5rem;
  text-transform: capitalize;
}

.actionArea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
}

.actionHeading {
  font-weight: 600;
  font-size: 1.6rem;
  color: #fafafa;
  padding: 0rem 0rem 0rem 3rem;
}

.actionBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.notActiveSideLink {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  padding: 1rem 2rem 1rem 3rem;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.notActiveSideLink:hover {
  background-color: #363741;
}

.activeSideLink {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  background-color: #363741;
  padding: 1rem 2rem 1rem 2.7rem;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  border-left: 3px solid #0079c2;
}

.iconTextArea {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.actionIcon {
  width: 2rem;
}

.actionText {
  color: #fafafa;
  font-weight: 400;
  font-size: 1.5rem;
}

.arrowSVG {
  width: 0.8rem;
}

.upHeader {
  background-color: #fff;
  box-shadow: 1px 0px 50px rgba(208, 200, 200, 0.25);
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerHeading {
  font-weight: 400;
  font-size: 2rem;
  color: #27272a;
}

.nameRoleArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
}

.logingArea {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.logOutBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.logOutIcon {
  width: 1.6rem;
}

.userName {
  font-weight: 500;
  font-size: 1.4rem;
  color: #27272a;
}

.userRole {
  font-weight: 400;
  font-size: 1.3rem;
  color: #9b9b9b;
}

.changeContentBox {
  width: 100%;
}

.servicesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem 2.6rem;
}

.serviceItemsBox {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.multiHeadingServices {
  background-color: #252631;
  padding: 2rem 2.4rem;
  gap: 18.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
}

.multiHeadingWaiter {
  gap: 32rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding-left: 2.4rem;
}

.multiHeadingWaiter2 {
  gap: 22rem !important;
}

.servicesHeading {
  font-weight: 400;
  font-size: 1.3rem;
  color: #fff;
}

.waiterHeading {
  font-weight: 400;
  font-size: 1.4rem;
  color: #98a9bc;
}

.servicesHeading:nth-child(2) {
  transform: translateX(1.2rem);
}

.wholeItemService {
  background-color: #fff;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
  border-radius: 5px;
  padding: 2.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.wholeItemWaiter {
  background-color: #fff;
  gap: 32rem;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
  border-radius: 5px;
  padding: 2.2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.serviceName {
  color: #27272a;
  font-weight: 400;
  font-size: 1.8rem;
}

.waiterOption {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #06152b;
}

.waiterOption2 {
  position: absolute;
  transform: translateX(23rem);
}

.ServicesOptionTime {
  position: absolute;
  transform: translateX(26rem);
}

.ServicesOptionPrice {
  position: absolute;
  transform: translateX(58rem);
}

.waiterOptionStatus {
  color: #27272a;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border-radius: 30px;
  padding: 0.6rem 1.2rem;
  background-color: #e6f6f5;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
  position: absolute;
  transform: translateX(77rem);
}

.waiterOptionServics {
  position: absolute;
  transform: translateX(83.5rem);
}

.waiterOptionTime {
  position: absolute;
  transform: translateX(35rem);
}

.servicePrice {
  font-weight: 400;
  font-size: 1.5rem;
  color: #778ca2;
  position: absolute;
  transform: translateX(27rem);
}

.serviceDescription {
  font-weight: 400;
  font-size: 1.4rem;
  color: #778ca2;
  position: absolute;
  transform: translateX(47rem);
}

.service2btnArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.serviceActiveBtn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  color: #fff;
  background-color: #6dd230;
  border-radius: 20px;
}

.editServiceBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.editIcon {
  width: 2rem;
}

.managementBtnsArea {
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}

.managementHeading {
  color: #18181b;
  font-weight: 500;
  font-size: 1.8rem;
}

.twoBtnsManage {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.manageBtn {
  background-color: #4d7cfe;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: inherit;
  color: #fff;
  padding: 1rem 2.6rem;
  transition: all 0.5s;
  cursor: pointer;
}

.manageBtn:hover {
  background-color: #3867e8;
}

.managementRestaurents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
}

.itemRestaurent {
  background: #d7d7d7;
  box-shadow: 0px 4px 20px rgba(148, 148, 148, 0.15);
  border-radius: 10px;
  width: 25vw;
  height: 15vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.itemRestHeading {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.7rem;
  color: #fff;
}

.packageArea {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  width: 100%;
  padding: 1rem 0rem 1.8rem 2rem;
}

.managmentContent {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 4rem;
  width: 100%;
}

.serviceHeadingArea {
  padding: 2.5rem 0rem;
}

.activeMenu {
  border: none;
  font-family: inherit;
  color: #fff;
  background-color: #6dd230;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.activeMenu:hover {
  transform: translateY(-2px);
}

.notActiveMenu {
  border: none;
  font-family: inherit;
  color: #fff;
  background-color: #dc2626;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.notActiveMenu:hover {
  transform: translateY(-2px);
}

.justItemsContainer {
  display: grid;
  row-gap: 2.4rem;
  column-gap: 3rem;
  padding-top: 1rem;
  grid-template-columns: 1fr 1fr;
}

.wholeItemElement {
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  position: relative;
}

.itemImgBox {
  padding: 8rem;
  border-radius: 5px;
  display: inline-block;
  background-size: cover;
  background-color: #e4e4e7;
  background-position: center;
  margin: 1.6rem 1rem 1.6rem 1.6rem;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
}

.itemContentBox {
  padding: 1.6rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.itemHeading {
  font-weight: 600;
  font-size: 1.6rem;
  color: #32324d;
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.itemSize {
  font-weight: 400;
  color: #4b5563;
  font-size: 1.4rem;
}

.itemDescription {
  margin-top: 1.2rem;
  font-weight: 300;
  font-size: 1.5rem;
  color: #52525b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.itemPriceActiveArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.itemPrice {
  font-weight: 600;
  font-size: 1.7rem;
  color: #404040;
}

.headArrowArea {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.arrowBack {
  width: 0.8rem;
  cursor: pointer;
}

.headingHeadingInner {
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pathAddress {
  font-weight: 400;
  font-size: 1.5rem;
  color: #8c8888;
  cursor: pointer;
  text-decoration: none;
}

.pathAddressArea {
  gap: 0.5rem;
  display: flex;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

.currentItemBox {
  display: grid;
  border-radius: 5px;
  background-color: #fff;
  grid-template-columns: 40fr 60fr;
  padding: 2.4rem 2.4rem 14rem 2.4rem;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

.itemBigImgBox {
  padding: 0.5rem;
  width: 44rem;
  height: 38rem;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

.penIconCurrentImg {
  cursor: pointer;
  width: 2.4rem;
  padding: 0.3rem;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
}

.itemInputsBox {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}

.wholeCurrentItemInput {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  width: 100%;
}

.currentItemLable {
  font-weight: 300;
  font-size: 1.4rem;
  color: #252631;
}

.currentItemInput {
  width: 100%;
  border: none;
  background: none;
  color: #252631;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: inherit;
  padding-bottom: 1.2rem;
  padding-right: 2.2rem;
  transition: all 0.3s;
  border-bottom: 1px solid #cdcdcd;
}

.currentItemInput:focus {
  outline: none;
  border-bottom: 1px solid #4d7cfe;
}

.penIconCurrent {
  transform: translateX(-1.4rem);
  cursor: pointer;
  width: 1.6rem;
}

.inputAndEditArea {
  width: 100%;
  display: flex;
  align-items: center;
}

.twoWholeCurrentInputArea {
  width: 100%;
  gap: 2.6rem;
  display: flex;
  align-items: center;
}

.headerIconsBox {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.headerIcon {
  width: 1.8rem;
}

.iconHeaderBack1 {
  background-color: #e4f1f9;
  border-radius: 100%;
  padding: 1.2rem;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
  position: relative;
}

.notifNum {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(1.3rem, -3.7rem);
}

.notifNum1 {
  background-color: #0079c2;
}

.notifNum2 {
  background-color: #edba39;
}

.notifNum3 {
  background-color: #3ace7e;
}

.iconHeaderBack2 {
  background-color: #fff2d2;
  border-radius: 100%;
  padding: 1.2rem;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
}

.iconHeaderBack3 {
  background-color: #dbffec;
  border-radius: 100%;
  padding: 1.2rem;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
}

.pagination {
  margin-top: 1.4rem;
  font-family: inherit;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #778ca2;
  transition: all 0.3s;
}

.activePagin {
  color: #4d7cfe;
}

.paginLink {
  cursor: pointer;
}

.paginLink:hover {
  color: #4d7cfe;
}

.designMenusContainer {
  gap: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
