@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

/*** Quires **/

@media (max-width: 238em) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 207em) {
  html {
    font-size: 120%;
  }
}

@media (max-width: 188em) {
  html {
    font-size: 105%;
  }
}

@media (max-width: 169em) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 150em) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 140em) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 132em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 120em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 91.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 80.8em) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 74em) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 67em) {
  html {
    font-size: 43%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 54em) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 32%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 28%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 26%;
  }
}
